<!DOCTYPE html>
<html>
    <head>
        <title>Zander's Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Zander's Blog</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>My first post that was created by lazy ass since i need to earn enough money to buy a gaming laptop</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>Idid nahuy i need money money money to buy a gaming laptop and create games make world a better place</p>
        </article>
    </body>
</html>